<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Add new student</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  
  <h1>Add new student</h1>

  <form id="form-student" action="" method="POST">
    <input type="text" name="firstname" placeholder="Firstname ..." />
    <input type="text" name="lastname" placeholder="Lastname ..."/>
    <button id="trigger-submit">
      Submit
    </button>
  </form>

  <p>
    <a href="/">Back to list</a>
  </p>

  <script type="text/javascript">

    $(document).ready(function() {

      var $submit = $('#trigger-submit');
      var $form = $('#form-student');

      $submit.on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url : 'http://localhost:8001/api/students',
            method : 'POST',
            data : $form.serialize(),
            success: function(response, status) {
              if(parseInt(response.status) === 200)
              {
                window.location.href = '/';
              } 
              else
              {
                alert(response.message);
              }
            },
            error: function(response, status, error) {
              console.error(error);
            }

          });
      });
  
    });
    
  </script>

</body>
</html>