<h2>{{ title }}</h2>
<!-- <h2 [textContent]= 'title'></h2> -->
<img [src]="imgUrl" />

<table>
  <tr>
    <td [attr.colspan] = "colspan"></td>
  </tr>
</table>

<button class='btn btn-primary' [class.active]= 'isActive'>Save</button>
<button [style.backgroundColor]='isActive ? "blue" : "red" '>mon bouton</button>

<div (click) ="doSomething()">
  <button (click)="onClick($event)" >Cliquez-moi</button>
</div>
<!-- <input #email (keyup.enter)="onKeyUp(email.value)" /> -->
<!-- <input [value]= 'email' (keyup.enter)="email=$event.target.value; onKeyUp()" /> -->
<input [(ngModel)]= "email" (keyup.enter)="onKeyUp()" />

<p>
  bonjour {{ email }}
</p>