<h2>Login Form</h2>
<section>
  <form [formGroup]="loginForm" (ngSubmit) = "onLogin(loginForm.value)">
    <mat-form-field>
      <input type="text" matInput placeholder="username" [formControl]="loginForm.controls.username">
      <mat-error *ngIf="loginForm.controls.username.invalid">{{getValidationError('username')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="password" [formControl]="loginForm.controls.password">
      <mat-error *ngIf="loginForm.controls.password.invalid">{{getValidationError('password')}}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="!loginForm.valid">Log In</button>
  </form>
</section>