
<!-- <app-favoris [isFavorite]= 'post.isFavorite' (changement)= 'onFavoriteChange($event)'></app-favoris> -->
<!-- <bootstrap-panel >
    <ng-container class="heading">
        Heading
    </ng-container>
    <ng-container class="body">
        <h2>titre</h2>
        <p>Paragraphe</p>
    </ng-container>
</bootstrap-panel>
<bootstrap-panel>
    <ng-container class="heading">
        <h1>Heading 2</h1>
    </ng-container>
    <ng-container class="body">
        <h2>titre 2</h2>
        <p>Paragraphe 2</p>
        <p>test</p>
    </ng-container>
</bootstrap-panel> -->
<!-- <app-exocoeur [isFavorite]= 'post.isFavorite' [nbLike]= 'post.nbLike' (changement)= 'onFavoriteChange($event)'></app-exocoeur> -->
<app-directives></app-directives>
<!-- <input type="text" appInputFormat [format]="'lowercase'"> -->
<input type="text" [appInputFormat]="'lowercase'">