<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>First app with mongoose</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
<h1>Démonstration requêtes mongodb avec mongoose</h1>

<h2>Lister</h2>

<h3>Lister les films par année de sortie de la plus récente à la plus ancienne</h3>

<ul>
  {{REQUEST_1}}
</ul>

<h3>Lister les films par titre dans l'ordre alphabétique</h3>

<ul>
  {{REQUEST_2}}
</ul>

<h3>Lister les films par Rank du plus élevé au plus faible</h3>

<ul>
  {{REQUEST_3}}
</ul>

<h2>Filtrer</h2>

<h3>Les films dans lesquels a joué Sharlto Copley</h3>

<ul>
  {{REQUEST_4}}
</ul>

</body>
</html>