<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Document</title>
</head>
<body>
    <h1>About document</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis ratione, aut at aliquam itaque dicta totam libero dignissimos pariatur quos, laudantium iusto similique eveniet adipisci veritatis? Nam, vitae debitis?</p>
    <p><a href="./">about</a></p>
</body>
</html>