<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style>
    p{
        color: blue;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <h1>Démonstration Mongoose avec MVC</h1>
    <p>Liste des films:</p>
    <ul>
        {{LIST}}
    </ul>
    <p>Liste {{LIST_TITLE_1}}</p>
    <ul>
        {{LIST2}}
    </ul>
    <p>Liste {{LIST_TITLE_3}}</p>
    <ul>
        {{LIST3}}
    </ul>
    <p>Liste {{LIST_TITLE_4}}</p>
    <ul>
        {{LIST4}}
    </ul>
    <p>Liste {{LIST_TITLE_5}}</p>
    <ul>
        {{LIST5}}
    </ul>
    <p>Liste {{LIST_TITLE_6}}</p>
    <ul>
        {{LIST6}}
    </ul>
    <p>Liste {{LIST_TITLE_7}}</p>
    <ul>
        {{LIST7}}
    </ul>
    <p>Liste {{LIST_TITLE_8}}</p>
    <ul>
        {{LIST8}}
    </ul>
    <p>Liste {{LIST_TITLE_9}}</p>
    <ul>
        {{LIST9}}
    </ul>
    <p><a href="about.html">about</a></p>
    
</body>
</html>