<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Document</title>
</head>
<body>
    <h1>Add student</h1>
    <form action="about.html" method="POST">
     
        <div>
          <label for="name">Firstname :</label>
          <input type="text" id="firstname" name="firstname" />
        <div>
        <div>
          <label for="name">Lastname :</label>
          <input type="text" id="lastname" name="lastname" />
        <div>
 
        <div class="button">
          <button type="submit" method="POST">Add student</button>
        </div>
       
 
    </form>
    <p><a href="./">Home</a></p>
</body>
</html>